.rt-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: auto;
    z-index: 9999 !important;
    .sequence {
        clear: both;
        margin-top: 10px;
        height: 30px;
        font-size: 18px;
        text-align: center;
    }
    #chart {
        width: 50%;
        margin: auto;
        svg {
            margin: auto;
        }
        .rt-indicator {
            float: none;
            width: 100%;
            margin: auto;
        }
    }
    .div-btn {
        width: 100%;
        .year-btn {
            cursor: pointer;
            float: left;
            background: black;
            color: white;
            font-size: 18px;
            padding: 5px;
            text-align: center;
            text-decoration:none;
            font-style: normal;
            font-weight: normal;
            border-radius: 0px;
        }
        .active-btn, .year-btn:hover {
            cursor: pointer;
            background: green;
            color: white;
        }
    }
}
